<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Пользователи</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
</head>
<body>
<table class="table table-dark">
    <thead>
    <h1>Пользователи</h1>
    </thead>
    <tbody>
    <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Operation</th>
        <th>Roles</th>

    </tr>

    <tr th:each="user : ${userList}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="@{'/admin/' + ${user.id}}">Info</a>
            <a th:href="@{'/admin' + '/delete/' + ${user.id}}">delete</a>
        </td>
        <td th:text="${user.userRoles}"></td>

    </tr>
    </tbody>
</table>
<br>

<input type="button" value="Добавить пользователя"
       onclick="window.location.href = '/admin/add-user'"/>
<input type="button" value="На главную"
       onclick="window.location.href = '/admin'"/>
<input type="button" value="Выйти :("
       onclick="window.location.href = '/logout'"/>
</body>
</html>